/* Css Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

/* Header */
 header{
     width: 100%;
     padding: 25px;
     
 }
/* Navbar */
 .navbar{
     display: flex;
     text-align: center;
     justify-content: space-between;
 }
 /* Navbar list */
.navbar li{
list-style: none;
display: inline-block;
padding-left: 15px; 

}
/* Navbar anchor */
.navbar li a{
    text-decoration: none;
    color: #ffffff; 
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    
}
/* Navbar anchor hover */

.navbar li a:hover{
cursor: pointer; 
background: rgb(49, 0, 128);
 transition: 3s; 
 } 

/* logo */
.logo{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 5px;
    color: rgb(202, 41, 202);
    text-shadow: 2px 5px rgb(5, 4, 17);

}
/* hero */
.hero{
justify-content: center;
    display: flex;
    padding-top: 1em;
}
/* image */
.img{
    width: 30%;
    height: 20em;
    margin: auto;
    border:10px solid rgb(243, 231, 231);
    border-radius:50%;
    padding: 10px;
   
}
/* body */
body{

background-image: linear-gradient(purple,rgb(14, 14, 99));
}



/* about-text */
.about-text h1{
color:white ;
text-align: center;
font-size: 35px;
}
/* span */
span{
    color: rgb(202, 41, 202);
}

/* about h2 */
.about-text h2{
  color: rgb(202, 41, 202);
  text-align: center;
}
/* about p */
.about-text p{
    color: #fcfc;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    line-height: 18px;
    text-align: center;
}
/* row */
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}


/* hobbies */
.Hobbies-column{
    background-color: wheat;
        
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 5px; 
    box-sizing: border-box;
    transition: 0.5s;
    margin: 100px; 
    overflow: hidden;
    position: relative;
    width: 20%;
    height: 30vh;
    
    
}
/* hobbies h2 */
.Hobbies-column h2{
    padding: 10px;
}
/* hobbies hover */
.Hobbies-column :hover{
    box-shadow: 0 0 20px 0 rgba(150, 30, 140, 0.75);
    
}
/* priorities */
.Priorities-column{
        background-color: wheat;
        border-radius: 20px;
        padding: 20px 20px;
        margin-bottom: 5px;
        box-sizing: border-box;
        transition: 0.5s;
        margin: 100px;
        overflow: hidden;
        position: relative;
        width: 20%;
        height: 30vh;
        
    
    }

    /* priorities h2 */
    .Priorities-column h2{
        padding: 10px;
    }
    /* priorities hover */
    .Priorities-column :hover {
        box-shadow: 0 0 20px 0 rgba(150, 30, 140, 0.75);
}
/* otherskills */

.Otherskills-column{
    background-color: wheat;
    border-radius: 20px;
    padding: 20px 20px;
    margin-bottom: 5px;
    box-sizing: border-box;
    transition: 0.5s;
    margin: 100px;
    overflow: hidden;
    position: relative;
    width: 20%;
    height: 30vh;
    

}
/* otherskills h2 */
.Otherskills-column h2{
    padding: 10px;
}
/* otherskills hover */
.Otherskills-column :hover {
    box-shadow: 0 0 20px 0 rgba(150, 30, 140, 0.75);
}

/* button */
.button{
    background-color: rgb(202, 41, 202);
    color: white;
    font-weight: bold;
    border: 2px solid transparent;
    padding: 13px 30px;
    border-radius: 30px;
    transition: 5s;
    text-decoration: none;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    margin: auto;
    font-size: x-large;
}


/* button hover */
.button:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid  #ca29ca;
    cursor: pointer;
}

/* footer */
footer{
    background-color: wheat; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding: 2em;
    font-size: 20px;
    
    
}
/* social */
.social{
    display: flex;
}
/* social anchor */
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#ca29ca;
    border-radius: 50%;
    margin: 22px 10px;
    text-decoration: none;
    font-size: 20px;
}
/* social img */
.social img{
    width: 20px;
    color: #ffffff;
}
/* social hover */
.social a:hover{
    transform: scale(1.3);
    transition: .3s;
}



